/*************************************
* This file controls formatting for
* high hand and other promotions
* that display cards.
*************************************/
.card{
    height: 69px;
    width: 50px;
    margin: 3px;
}

.selected-card{
    height: 110px;
    width: 79px;
    margin: 5px;
}

.standard-card{
    box-shadow: 2px 2px 5px #969696;
}

.gold-card{
    box-shadow: 5px 5px 7px #f9d716;
}

.card-index-highlight{

    box-shadow: 7px 7px 5px #6e94d1;
}
@media
only screen and (max-width: 960px){
    .card{
        height: 60px;
        width: 45px;
        margin: 1px;
    }
}

@media
only screen and (max-width: 500px){
    .card{
        height: 49px;
        width: 39px;
        margin: 1px;
    }
    .selected-card{
        height: 65px;
        width: 40px;
        margin: 2px;
    }
}
