/*************************************
* This file controls formatting for
* display windows and their assigned
* promotions.
*************************************/

.display-body {

    max-width: 50%;
    min-height: 150px;
    min-width: 50%;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    box-shadow: 2px 2px 5px #969696;
    vertical-align: top;
    margin-bottom: 25px;
}

.display-background-normal{
    background-color: #c3cacc;
}

.display-background-recovering{
    background-color: darkgoldenrod;
}

.display-background-down{
    background-color: darkred;
}

.display-outer{
    width: 100%;
    text-align: center;
}

.display-header{

}

h3.display-friendly-name{
    text-align: left;
}

.edit-display-btn{
    margin: 0 auto;
    margin-top: 10px;
}

.edit-display-div{
    text-align: right;

}

.promotion-preview-body {
    max-height: 75px;
    max-width: 75px;
    min-height: 75px;
    min-width: 75px;
    background-color: #fcfdff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 5px;
    display: inline-block;
    box-shadow: 2px 2px 5px #969696;
    vertical-align: top;

}

.promotion-preview-icon{
    max-height: 65px;
    max-width: 65px;
    min-height: 65px;
    min-width: 65px;
    margin-left: 5px;
    margin-top: 5px;

}

.promotion-artifact-preview{
    clear: both;
    max-height: 30px;
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
    position: relative;
    top: -65px;
    left: -20px;
    z-index: 4;
    background-color: green;
    color: white;
    border-radius: 25px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    box-shadow: 2px 2px 5px #969696;
}
.promotion-lock-overlay{
    background-color: grey;
    opacity: 0.5;
    max-height: 75px;
    max-width: 75px;
    min-height: 75px;
    min-width: 75px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

.lock-glyphicon-container{
    position: relative;
}

.lock-glyphicon{
    position: absolute;
    text-align: center;
    top: 20px;
    left: 22px;
    font-size: 32px;
    display: block;
    z-index: 20;
    text-shadow: 1px 1px #0c0c0c;
}

hr.display{
    border-color: #686868;
    background-color: #686868;
    color: #686868;
}

.display-font{
    color: #686868;
    text-shadow: 1px 1px #f7f7f7;
}

.display-font-alarm{
    color: white;
    text-shadow: 1px 1px grey;
}

.box-settings {
    background-color: #969696;
}

.unassigned-display-body{
    max-height: 80px;
    max-width: 120px;
    min-height: 80px;
    min-width: 120px;
    background-color: #9e0000;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 5px;
    display: inline-block;
    box-shadow: 2px 2px 5px #969696;
    vertical-align: top;
}

p.unassigned-display-display-text{
    color: white;
    margin: 0;
}

.checkbox-image{
    max-height: 25px;
    max-width: 25px;
    min-height: 25px;
    min-width: 25px;
}
