/*************************************
* This file controls formatting for
* the thinking donut
*************************************/
.donut{

}

.thinking-donut{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 40%;
    left: 50%;
    border-radius: 40px;
    box-shadow: 0 6px 0 0 #59ebff;
    animation: thinking-donut-anim 2s linear infinite;
    margin: auto;
    z-index: 1005;
}

@keyframes thinking-donut-anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}