/*************************************
* This file controls formatting for
* different promotion modal windows
*************************************/
.option-group{

     border: 1px solid #c3cacc;
 }

.playerForms{
    margin: 3px;
}

.center{
    margin: auto;
    width: 60%
}
.style-select{
    width:15%;
    height:15%;
}