/*************************************
* This file controls formatting for
* different promotion modal windows
*************************************/
.option-group{

     border: 1px solid #c3cacc;
 }

.playerForms{
    margin: 3px;
}

.center{
    margin: auto;
    width: 60%
}
.style-select{
    width:15%;
    height:15%;
}

.edit-user-button{
    margin: 2px;
    text-align: center;
    display: inline-block;
    background-color: #c3cacc;
    width: 100px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #969696;
}

.loader{
    position: fixed;
    background-color: #262626;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1004;
}