/*************************************
* This file controls formatting for
* different promotion modal windows
*************************************/
.option-group{

     border: 1px solid #c3cacc;
 }

.playerForms{
    margin: 3px;
}

.center{
    margin: auto;
    width: 60%
}
.style-select{
    width:15%;
    height:15%;
}
.hidden-radio {
    visibility: hidden;

}
.centerText{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.edit-user-button{
    margin: 2px;
    text-align: center;
    display: inline-block;
    background-color: #c3cacc;
    width: 100px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #969696;
}

.loader{
    position: fixed;
    background-color: #262626;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1004;
}
.pgt-instant-winner {
    width:75px;
}
.pointsgt-textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
    height: 150px;
}
.time-table-button {
    clear: both;
    max-height: 25px;
    min-height: 25px;
    min-width: 25px;
    max-width: 25px;
    position: relative;
    top: 0px;
    z-index: 4;
    background-color: green;
    margin-left: 5px;
    color: white;
    border-radius: 25px;
    padding-top: 5px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    box-shadow: 2px 2px 5px #969696;
}
.pointbox{
    width: 70px;
}
.pgt-active-player{
    background-color: deepskyblue;
    padding: 3px;
}
.btn-wide{
    width: 90px;
    height: 90px;
}
.pull-tab-button-clear{
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    border-style: outset;
    background-color: gray;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-color: black;
    padding: 4px;
    margin: 4px;
}

.time-table-button-red {
     background-color: red;
 }
.time-table-button-black {
    background-color: black;
}
.file-div{
    width:200px;
    float: left;
}
td.promostatus{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
}
div.FloatLeft {
    width:275px;
    height: 265px;
    float:left;
}
span.property-option-icon{
margin-left: 100px;
}
.mmtable td{
    width: 33%;
    text-align: center;
    color: #002a80;
}
.input-disabled{background-color:#EBEBE4;border:1px solid #ABADB3;padding:2px 1px;}