/*************************************
* This file controls formatting for
* promotion tiles
*************************************/
.tile-body {
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    background-color: #c3cacc;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 10px;
    display: inline-block;
    box-shadow: 2px 2px 5px #969696;
    vertical-align: top;
}

.select-tile {
    background-color: lightgray;
    width: 300px;
    float: left;
    margin: 10px;

}

.tile-icon {
    max-height: 140px;
    max-width: 140px;
    min-height: 140px;
    min-width: 140px;
    margin-left: 5px;
    margin-top: 5px;
    top: -25px;
    position: relative;
}

.tile-icon-select-promo {
    top: 0px;
    left: 0px;
}

.tile-menu-bar {
    max-height: 20px;
    min-height: 20px;
    max-width: 150px;
    min-width: 150px;
    background-color: rgba(110, 110, 110, 0.7);
    position: relative;
    top: -35px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.tile-menu-item {
    max-height: 20px;
    min-height: 20px;
    max-width: 50px;
    min-width: 50px;
    z-index: 2;
    position: relative;
    display: block;
    text-align: center;
}

.tile-status-bar {
    max-height: 20px;
    min-height: 20px;
    max-width: 150px;
    min-width: 150px;
    background-color: rgba(179, 179, 179, 0.6);
    position: relative;
    top: -70px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.tile-status-item {
    max-height: 20px;
    min-height: 20px;
    max-width: 50px;
    min-width: 50px;
    z-index: 2;
    position: relative;
    display: block;
    text-align: center;
}

.tile-menu-item-placemarker {
    max-height: 20px;
    min-height: 20px;
    max-width: 50px;
    min-width: 50px;
    z-index: 2;
    position: relative;
    display: block;
    text-align: center;
}

.tile-promotion-title {
    clear: both;
    max-height: 20px;
    min-height: 20px;
    min-width: 150px;
    max-width: 150px;
    position: relative;
    top: 0px;
    z-index: 5;
    background-color: rgba(0, 102, 0, 0.8);
    margin-left: 1px;
    color: white;
    padding-top: 1px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    box-shadow: 2px 0px 5px #969696;
    text-shadow: 1px 1px #707070;
}

@media only screen and (max-width: 960px),
(min-device-width: 900px) and (max-device-width: 1024px) {
    .no-mobile {
        display: none;
    }
}

.tile-promotion-artifact {
    clear: both;
    max-height: 30px;
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
    position: relative;
    top: -165px;
    z-index: 4;
    background-color: green;
    margin-left: 5px;
    color: white;
    border-radius: 25px;
    padding-top: 5px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    box-shadow: 2px 2px 5px #969696;
}

.display-list-artifact {
    clear: both;
    float: left;
    max-height: 25px;
    min-height: 25px;
    min-width: 25px;
    max-width: 25px;
    position: relative;

    z-index: 4;
    background-color: green;
    margin-left: 5px;
    color: white;
    border-radius: 15px;
    padding-top: 4px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    box-shadow: 2px 2px 5px #969696;
}

.tile-menu-item-hover {
    background-color: rgba(255, 255, 255, 0.8);

}

.glyphicon-menu {
    clear: both;
    font-size: 16px;
    vertical-align: middle;
}

.glyphicon-new-container {
    position: relative;
    text-align: center;
    top: -90px;
}

.glyphicon-new-tile {
    clear: both;
    font-size: 30px;
    vertical-align: middle;
}

.cursor-selectable {
    cursor: pointer;
}

.red {
    color: #990000;
    text-shadow: 1px 1px #ff4d4d;
}

.black {
    color: black;
    text-shadow: 1px 1px #e6e6e6;
}

.white {
    color: white;
}

/**************************
* Toolbar Buttons
**************************/

.button-body {
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
    background-color: #a2acbc;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 10px;
    display: inline-block;
    box-shadow: 2px 2px 5px #969696;
    vertical-align: top;
}

.button-body:hover, .tile-body:hover {
    background-color: #00C706;
}

.button-icon {
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    margin-left: 5px;
    margin-top: 5px;
}

.tool-glyphicon {
    clear: both;
    font-size: 30px;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;

}

.toolbar {
    display: inline-block;
}

.toolbench {
    text-align: center;
}

.newpromo-title {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: dodgerblue
}
.promo-template-button{
    background-color: lightgray;
    font-size: xx-large;
    font-weight: bolder;
    color: dodgerblue;
    width: 200px;
    text-align: center;
    text-transform: capitalize;
}

